// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'post';
@import 'comment';

//Bulma

@import '~bulma/css/bulma.css';

#app {
    background-color: $main-bg;
    color: $orange;
}

ul, ol {
    list-style-type: none;
}
